<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.yikasstore">

    <application
        android:allowBackup="true"
        android:icon="@drawable/yikas_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/yikas_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".BasketActivity"></activity>
        <activity android:name=".ProductDetailActivity" />
        <activity android:name=".TagsActivity" />
        <activity android:name=".CollarsActivity" />
        <activity android:name=".DogsCategories" />
        <activity android:name=".CatsCategories" />
        <activity android:name=".ContactsActivity" />
        <activity android:name=".CampaignsActivity" />
        <activity android:name=".CategoriesActivity" />
        <activity android:name=".ProfileActivity" />
        <activity android:name=".MainMenuActivity" />
        <activity android:name=".ResetPassScreen" />
        <activity android:name=".RegisterScreen" />
        <activity android:name=".LoginActivity" />
        <activity
            android:name=".SplashScreen"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>